.accent-font {
	font-family: 'Alegreya', serif;
}

.obit p {
	color: #2a2a2a;
	font-size: 17pt;
	font-family: 'Alegreya', serif;
}

.footer-bar {
	height: 10px;
	background-color: rgb(112, 31, 35, 0.7)
}

.head-bar {
	height: 5px;
	background-color: rgb(232, 160, 160, 0.8);
}


body {
	background-color: rgba(193, 85, 58, 0.112);
}